 @font-face
    {
            font-family:neolatina;
            src:url(fonts/neo-latina-demo-FFP.ttf);
    }
 @font-face
    {
            font-family:orbitron;
            src:url(fonts/Orbitron-Black.ttf);
    }
@font-face
    {
            font-family:quicksand;
            src:url(fonts/Quicksand-Regular.ttf);
    }
@font-face
    {
            font-family:ptsans;
            src:url(fonts/PT_Sans-Web-Regular.ttf);
    }
 @media(max-width: 600px)
        {
            .myh1{
                
                font-size: 20px
            } 
            .divider
            {
                height: 3px;
                width: 270px;
                margin-top: 30px;
            }
            .myh2
            {
                font-size: 10px;
            }
            .foot
            {
                margin-left: 35%;
                margin-top: -30px;
            }
            #footer
            {
                 height: 80px;
                
            }
            .ad
            {
                top:582px;
                left:220px;
                 width: 150px;
                height: 100px;
            }
        }
        
        @media(min-width: 487px)
        {
             #footer
            {
                 height: 60px;
            }
              .ad
            {
                top:430px;
                left:1100px; 
                 width: 250px;
                height: 200px;
            }
            
            .foot
            {
                margin-left: 18%;
            }
            .myh1{
            
                font-size: 60px
            } 
               .divider
            {
                height: 300px;
                width: 3px;
            }
             .myh2
            {
                font-size: 20px;
            }
        }
body
{
    background: #BDBDBD;
}
#header
{
    background: #212121;
    width: 100%;
    text-align: right;
    padding: 4px;
}
.face
{
    color: #bdbdbd;
}
.face:hover
{
    color: white;
}
#logo
{
    width: 130px;
    height: 120px;
    display: inline;
}
#heading
{
    
    font-family: neolatina;
    
    display: inline-block;
    white-space: nowrap;
}



   


    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }
//////////////////
    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

   
 
  <!-- End SlidesJS Optional-->

  <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
  <style>
    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 0px;
        padding-right: 0px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 700px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
.headers
{
    text-align: center;
 
    font-family: ptsans;
    letter-spacing: 3px;
}
.content
{
    text-align: center;
    font-size: 20px;
    color: #696969;
    
    font-family: quicksand;
}
.myh2
{
    font-family: quicksand;
}
#footer
{
   
    background: #212121;
   color: white;
    padding: 5px; 
    
}
#up
{
    border: none;
    border-radius: 80px;

}
#footicon
{
    display: inline-block;
    
}
.ad
{
   
    background: #F0E68C;
    background: url(uploads/adImg.jpg);
    position: fixed;
    z-index: 1;
    background-size: cover;
    border: 4px solid #7CB342;
}
