 @font-face
    {
            font-family:neolatina;
            src:url(fonts/neo-latina-demo-FFP.ttf);
    }
 @media(max-width: 497px)
        {
            .myh1{
                
                font-size: 20px
            } 
        }
        
        @media(min-width: 487px)
        {
            .myh1{
            
                font-size: 60px
            } 
        }
#header
{
    background: #212121;
    width: 100%;
    text-align: right;
    padding: 4px;
}
.face
{
    color: #bdbdbd;
}
.face:hover
{
    color: white;
}
#logo
{
    width: 130px;
    height: 120px;
    display: inline;
}
#heading
{
    
    font-family: neolatina;
    
    display: inline-block;
    white-space: nowrap;
}
